* {
  font-family: 'Tomorrow', sans-serif;
  font-weight: normal;
}

*,
*::before *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: black;
  --yellow-color: #fcee09;
  --red-color: #ff003c;
  --black-color: rgba(9, 24, 51);
  --blue-color: rgba(19, 62, 124);
  --font: #24f29c;
  --border: #00ff00;
  --btn: rgba(9, 24, 51, 0.6);
  --btn-hover: rgba(9, 24, 51, 0.9);
}

body {
  background: var(--background);
}

.calculator-container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  min-width: 100vw;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.display {
  background-color: var(--black-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  grid-column: 1/-1;
  text-align: end;
  word-wrap: break-word;
  word-break: break-all;
}

.calculator-container > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  background-color: var(--black-color);
  color: white;
  cursor: pointer;
  padding: 20px 25px;
  position: relative;
  font-size: 1.25rem;
  border: 1px solid var(--border);
}

.btn__content {
  color: var(--red-color);
}

.calculator-container > button:hover {
  background-color: var(--btn-hover);
}

.calculator-container > button:active {
  background-color: var(--btn-active);
}

.double {
  grid-column: span 2;
}

.display .previous-cal {
  color: var(--font);
  font-size: 1.5rem;
  opacity: 0.5;
}
.display .current-cal {
  color: var(--font);
  font-size: 2.5rem;
}

.btn__glitch {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue-color);
  filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3)
    drop-shadow(2px 1px #02d8f3);
}

.calculator-container > button:hover .btn__glitch,
.calculator-container > button:hover .btn__content::after,
.calculator-container > button:focus .btn__glitch,
.calculator-container > button:focus .btn__content::after {
  display: block;
  animation: glitch-animation 2s linear 0s infinite;
}

@keyframes glitch-animation {
  0% {
    opacity: 1;
    transform: translateZ(0);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  2% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  6% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(5px);
  }

  8% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  9% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(0);
  }

  10% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translate3d(5px, 0, 0);
  }

  13% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translateZ(0);
  }

  13.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  15% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  20% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  20.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  25% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  30% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  30.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  35% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  40% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(5px);
  }

  45% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  50% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(0);
  }

  55% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  60% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translateZ(0);
    opacity: 1;
  }

  60.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }

  to {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
}
